
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h1>
            <img src="~/images/MVC-logo.jpg" alt="Logo">
        </h1>
        <nav>

            <ul class="navlist ">
                <li>  <a class="bluetext bold" asp-controller="Home" asp-action="Index">Index</a></li>
                <li>  <a class="bluetext bold" asp-controller="Home" asp-action="About">About</a></li>
                <li>  <a class="bluetext bold" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li>  <a class="bluetext bold" asp-controller="Home" asp-action="Projects">Projects</a></li>
                <li>  <a class="bluetext bold" asp-controller="Doctor" asp-action="FeverCheck">Check Fever</a></li>
                <li>  <a class="bluetext bold" asp-controller="Game" asp-action="GuessingGame">Play Game</a></li>
                @if (User.IsInRole("User") || User.IsInRole("Admin"))
                {
                    <li>  <a class="bluetext bold" asp-controller="Ajax" asp-action="Index">Ajax</a></li>
                    <li>  <a class="bluetext bold" asp-controller="Person" asp-action="Index">People</a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li>  <a class="bluetext bold" asp-controller="City" asp-action="Index">Cities</a></li>
                    <li>  <a class="bluetext bold" asp-controller="Country" asp-action="Index">Countries</a></li>
                    <li>  <a class="bluetext bold" asp-controller="Language" asp-action="Index">Language</a></li>

                }
                <li><partial name="_LoginPartial" /></li>
            </ul>
            
        </nav>
    </header>

    <div id="pageContent" class="view-container">
        @RenderSection("Scripts", required: false)
        @RenderBody()
    </div>


    <footer>
        <span>
            &#9400; @DateTime.Now.ToShortDateString() Madiha Gul
        </span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/PersonScript.js"></script>

   

</body>

</html>